page-comfort {
  .chart-wraper{
    max-height: 430px;
    overflow-y: scroll;
  }
  .vertical-line-wraper{
    position: absolute;
    top:30px;
    left:80px;
    z-index: 2;
    opacity: .5;
    margin-top:30px;
    .line-temp{
      width:55px;
      height: 24px;
      line-height: 24px;
      border: 1px solid #FFFFFF;
      border-radius: 15px;
      text-align: center;
      margin-top:10px;
    }
    .line{
      height: 420px;
      width:1px;
      border-left:dashed 1px white;
      margin:0 auto;
      opacity: .3;
    }
  }
  .iot-slide{
    height: auto;
    .swiper-slide{
      .slide-zoom{
        text-align: left;
            .past-time{
              height: 30px;
              line-height: 30px;
              text-align: center;
              color:white;
              background: rgba(255,255,255,.5);
              box-shadow: 0 1px 5px 0 rgba(55,52,52,0.50);
              border-radius: 3px;
            }
      }
    }
  }
}
