page-notification-add-custom {
  
  .bar-container{
    height: 48px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    .back{
      font-size: 14px;
      .arr{
        font-size: 20px;
      }
    }
  }
  .help-btn{
    float: right;
    background: transparent;
    color:red;
    border:2px solid #D0021B;
    height: 30px;
    width:60px;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
  }
  .duration-wraper{
    .duration-select-wrap{
        vertical-align: middle;
        display: inline-block;
        width:170px;
        height: 32px;
        margin:14px auto;
        background: black;
        border-radius: 8px;
        min-height: 32px;
        font-size: 14px!important;
    }
   
    .duration-select{
        background: black;
        width: 100%;
        max-width: 100%;
    }
  }
  .weekday-containers{
    text-align: center;
  }
  .weekday{
    width:30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    background: white;
    border: 1px solid white;
    margin-right: 12px;
    color:black;

  }
  .selected-weekday{
    color:black;
    background: rgb(90,143,220);
    border: 1px solid rgb(90,143,220);

  }
   .condition-item{
    font-size:18px;
    vertical-align: bottom;
  }
  .big-or-small-select{
    width: 100%;
    max-width: 100%;
    background: black;
    border-radius: 8px;
  }
  .big-or-small-wrap{
    display: inline-block;
    width:80px;
    float: right;
    margin-right: 5px;
  }
  .field-select-wrap{
    display: inline-block;
    width:170px;
  }
  .field-select{
    width: 100%;
    max-width: 100%;
    background: black;
    border-radius: 8px;
  }
  .if{
    font-size: 18px;
    margin:10px 0 14px 0;
  }
  .and{
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width:63px;
    vertical-align: middle;
    text-align: center;
    border-radius: 6px;
    background: rgb(108,108,108);
    margin:10px 0;
  }
  .btns-container{
    text-align: center;
    margin-top:30px;
    position: fixed;
    bottom:80px;
    left:0;
    right:0;
  }
  .cus-btn{
    width:116px;
    height: 30px;
  }
  .add-btn{
    margin-left:17px;
    width:116px;
    height: 30px;
  }
}
