page-day-weather {
  .weather-container{
    position: relative;
    text-align: left;
    padding-left:40px;
    top:-90px;
    height: 50px;
    img{
      position: absolute;
      left:0;
      top:0;
    }
  }
   .an-bar-container{
    height: 48px;
    .back{
      font-size: 14px;
      .arr{
        font-size: 20px;
      }
    }
  }
  .swiper-slide img{
    width:25px;
  }
  #chart{width: 100%;height: 300px;}
   .iot-slide{
    height: auto;
    
  }
}
