page-notification-manage {
 .weekday{
    width:30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid white;
    margin-right: 6px;
    font-size: 14px;
  }
  .selected-weekday{
    background: white;
    color:black;
  }
  .day-tag{
    border:1px solid white;
    padding:2px 15px;
    border-radius: 8px;
    display: inline-block;
    margin:0 8px 8px 0;
  }
  .item-wrapper{
    margin-top:10px;
  }
  .an-bar-container{
    height: 45px;
    .back{
      font-size: 16px;
      .arr{
        font-size: 20px;
      }
    }
    .an-searchbar{
      float: right;
      display: inline-block;
      width: 120px;
    }
    .add{
      float: right;
      font-size:20px;
      font-weight: bolder;
      display: inline-block;
      width:36px;
      height: 36px;
      background: white;
      color:rgb(90,143,220);
      text-align: center;
      line-height: 36px;
      border-radius: 6px;
      .setting-img{
        display: inline-block;
        width:20px;
        line-height: 36px;
        vertical-align: middle;
      }
    }
  }
  .an-item{
    // margin-top:20px;
  }
  .an-item-red{
    border-left:6px solid #ff6969;
  }
  .an-item-blue{
    border-left:6px solid rgb(90,143,220);
  }
  .an-item-white{
    border-left:6px solid white;
  }
  .an-title{
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
  }
  .an-content{
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    margin-top:8px;
  }
  .list-ios .item-block .item-inner{
    border-bottom: none;
  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border-bottom: none;
  }
  .list-ios ion-item-options .button{
    width:120px;
  }
}
