<!-- Generated template for the ConfortChartComponent component -->
<!-- 桔黄色变热样式 -->
<div class="floor-wraper">
  <div class="one-floor"  (click)="viewFloor()">
    <span class="floor-name">outside</span>
    <span class="tmp-distance turn-warm" style="width:30px;margin-left:40px;"></span>
    <span>27℃</span>
  </div>

  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor20</span>
    <span class="tmp-distance turn-warm" style="width:50px;margin-left:80px;"></span>
    <span>27℃</span>
  </div>


  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor19</span>
    <span class="tmp-distance turn-warm" style="width:140px;margin-left:50px;"></span>
    <!-- 变暖箭头 -->
    <img  src="assets/img/ar.png"  >
    <span>27℃</span>
  </div>
  <div class="one-floor" (click)="viewFloor()">
    <span  class="floor-name">floor18</span>
    <!-- 50px代表离最低温度 -->
    <span style="margin-left:50px;">16℃</span>
    <!-- 变冷箭头 -->
    <img  src="assets/img/al.png"  >
    <!-- 140px 代表温度跨度 -->
    <span style="width:140px;" class="tmp-distance turn-cold" ></span>
  </div>

  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor17</span>
    <span class="tmp-distance turn-cold" style="width:50px;margin-left:80px;"></span>
    <span>27℃</span>
  </div>

  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor16</span>
    <span class="tmp-distance turn-warm" style="width:30px;margin-left:40px;"></span>
    <span>27℃</span>
  </div>

  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor15</span>
    <span class="tmp-distance turn-warm" style="width:50px;margin-left:80px;"></span>
    <span>27℃</span>
  </div>

  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor14</span>
    <span class="tmp-distance turn-cold" style="width:50px;margin-left:80px;"></span>
    <span>27℃</span>
  </div>

  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor13</span>
    <span class="tmp-distance turn-warm" style="width:30px;margin-left:40px;"></span>
    <span>27℃</span>
  </div>

  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor12</span>
    <span class="tmp-distance turn-warm" style="width:50px;margin-left:80px;"></span>
    <span>27℃</span>
  </div>

  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor11</span>
    <span class="tmp-distance turn-cold" style="width:50px;margin-left:80px;"></span>
    <span>27℃</span>
  </div>

  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor10</span>
    <span class="tmp-distance turn-warm" style="width:50px;margin-left:80px;"></span>
    <span>27℃</span>
  </div>


 
  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor9</span>
    <span class="tmp-distance turn-warm" style="width:140px;margin-left:50px;"></span>
    <!-- 变暖箭头 -->
    <img  src="assets/img/ar.png"  >
    <span>27℃</span>
  </div>
  <div class="one-floor" (click)="viewFloor()">
    <span  class="floor-name">floor8</span>
    <!-- 50px代表离最低温度 -->
    <span style="margin-left:50px;">16℃</span>
    <!-- 变冷箭头 -->
    <img  src="assets/img/al.png"  >
    <!-- 140px 代表温度跨度 -->
    <span style="width:140px;" class="tmp-distance turn-cold" ></span>
  </div>


  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor7</span>
    <span class="tmp-distance turn-cold" style="width:50px;margin-left:80px;"></span>
    <span>27℃</span>
  </div>

  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor6</span>
    <span class="tmp-distance turn-warm" style="width:30px;margin-left:40px;"></span>
    <span>27℃</span>
  </div>

  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor5</span>
    <span class="tmp-distance turn-warm" style="width:50px;margin-left:80px;"></span>
    <span>27℃</span>
  </div>

  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor4</span>
    <span class="tmp-distance turn-cold" style="width:50px;margin-left:80px;"></span>
    <span>27℃</span>
  </div>

  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor3</span>
    <span class="tmp-distance turn-warm" style="width:30px;margin-left:40px;"></span>
    <span>27℃</span>
  </div>

  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor2</span>
    <span class="tmp-distance turn-warm" style="width:50px;margin-left:80px;"></span>
    <span>27℃</span>
  </div>

  <div class="one-floor" (click)="viewFloor()">
    <span class="floor-name">floor1</span>
    <span class="tmp-distance turn-cold" style="width:50px;margin-left:80px;"></span>
    <span>27℃</span>
  </div>
</div>
