<!-- Generated template for the ConfortChartComponent component -->
<!-- 桔黄色变热样式 -->
<div class="one-floor">
  <span class="floor-name">outside</span>
  <span class="tmp-distance turn-warm" style="width:30px;margin-left:40px;"></span>
  <span>27℃</span>
</div>

<div class="one-floor">
  <span class="floor-name">floor10</span>
  <span class="tmp-distance turn-warm" style="width:50px;margin-left:80px;"></span>
  <span>27℃</span>
</div>


<div class="one-floor">
  <span class="floor-name">floor9</span>
  <span class="tmp-distance turn-warm warm-arr" style="width:140px;margin-left:50px;"></span>
  <span>27℃</span>
</div>
<!-- 变冷样式 -->
<div class="one-floor">
  <span class="floor-name">floor8</span>
  <span class="tmp-distance turn-cold cold-arr" style="width:140px;margin-left:50px;"></span>
  <span>27℃</span>
</div>

<div class="one-floor">
  <span class="floor-name">floor7</span>
  <span class="tmp-distance turn-cold" style="width:50px;margin-left:80px;"></span>
  <span>27℃</span>
</div>

<div class="one-floor">
  <span class="floor-name">floor6</span>
  <span class="tmp-distance turn-warm" style="width:30px;margin-left:40px;"></span>
  <span>27℃</span>
</div>

<div class="one-floor">
  <span class="floor-name">floor5</span>
  <span class="tmp-distance turn-warm" style="width:50px;margin-left:80px;"></span>
  <span>27℃</span>
</div>

<div class="one-floor">
  <span class="floor-name">floor4</span>
  <span class="tmp-distance turn-cold" style="width:50px;margin-left:80px;"></span>
  <span>27℃</span>
</div>

<div class="one-floor">
  <span class="floor-name">floor4</span>
  <span class="tmp-distance turn-warm" style="width:30px;margin-left:40px;"></span>
  <span>27℃</span>
</div>

<div class="one-floor">
  <span class="floor-name">floor2</span>
  <span class="tmp-distance turn-warm" style="width:50px;margin-left:80px;"></span>
  <span>27℃</span>
</div>

<div class="one-floor">
  <span class="floor-name">floor1</span>
  <span class="tmp-distance turn-cold" style="width:50px;margin-left:80px;"></span>
  <span>27℃</span>
</div>
