day-column {
  .now-wraper{
    position: relative;
    top:-80px;
    left:17px;
    height: 0;
    .now{
      width:60px;
      height: 20px;
      line-height: 20px;
      border-radius: 10px;
      background: #ffffffb3;
      color:black;
      display: inline-block;
    }
    .now-temp{
      display: inline-block;
    }
  }
  text-align: center;
  .column-container{
    display: inline-block;
    height: 400px;
    position: relative;
    width:110px;
    vertical-align: top;
  }
  .day-temprerature{
    margin:15px auto;
    height: 200px;
    width:34px;
    background: linear-gradient(to bottom, rgb(65,154,245) , rgb(88,199,204));
    display: inline-block;
    border-radius: 25px;
  }
  .happen-time{
    width:65px;
    position: absolute;
    bottom:0;
    left:18px;
    border-top:1px solid rgb(143,143,143);
    padding-top:8px;
    color:rgb(143,143,143);
  }
  .top-temp{
    text-align: center;
    color:rgb(155,155,155);
    img{
      display: block;
      margin:0 auto 5px auto;
    }
  }
}
