day-column {
  text-align: center;
  .column-container{
    display: inline-block;
    height: 400px;
    position: relative;
    width:110px;
    vertical-align: top;
  }
  .day-temprerature{
    margin:15px auto;
    height: 200px;
    width:34px;
    background: linear-gradient(to bottom, rgb(65,154,245) , rgb(88,199,204));
    display: inline-block;
    border-radius: 25px;
  }
  .happen-time{
    width:65px;
    position: absolute;
    bottom:0;
    left:18px;
    border-top:1px solid white;
    padding-top:8px;
  }
}
