<!-- Generated template for the DayColumnComponent component -->

<span>
  <div class="column-container">
    <div  style="margin-top:0px;"  class="top-temp">
      <img src="assets/img/2.png" width="25" >
     25℃
    </div> 
     <div class="day-temprerature" tappable (click)="viewWeatherDayDetail({item:'yesterday'})"></div>
     <div class="top-temp">
     15℃</div> 
     <div class="happen-time">yesterday</div>
  </div>
</span>

<span>
  <div class="column-container">
    <!-- margin-top属性 1摄氏度=20px, 头部最高温度开始计算。
      例如现在，对比三个温度，最高温度是25℃，所以25℃是margin-top:0; 则现在 22℃为margin-top:60px;-->
     <div style="margin-top:60px;" class="top-temp">
      <img src="assets/img/1.png" width="25" >
      22℃
     </div> 
     <!-- 动态style规则： height属性 1摄氏度=20px ，-->
     <div style="height: 200px;" class="day-temprerature" tappable (click)="viewWeatherDayDetail({item:'yesterday'})"></div>
     <div class="now-wraper">
      <div class="now">Now</div>
      <div class="now-temp">21℃</div>
     </div>
     <div class="top-temp">12℃</div> 
     <div class="happen-time">today</div>
  </div>
</span>

<span>
  <div class="column-container">
     <div  style="margin-top:0px;"  class="top-temp">
      <img src="assets/img/3.png" width="25" >
      25℃
     </div> 
     <div class="day-temprerature" tappable (click)="viewWeatherDayDetail({item:'yesterday'})"></div>
     <div class="top-temp">15℃</div> 
     <div class="happen-time">tomorrow</div>
  </div>
</span>

