// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #ffffff;
$background-color:  rgb(33,33,33);
body .item-ios.item-block .item-inner{
  border-bottom: none;
}
// 头部样式
.ion-page .city{
  display: inline-block;
  float: right;
  width:180px;
  margin-left:20px;
}
.city-drop-down{
  width:100%;
  max-width: 100%;
}
.personinfo{
  display: inline-block;
  .pname{
    font-size: 18px;
  }
  .company{
    font-size: 14px;
    color: #9B9B9B;
  }
}
.jdi-tabs{
  margin:21px auto 16px auto;
  border-bottom:2px solid;
  padding-bottom: 18px;
  border-image: linear-gradient( to right, rgb(37,37,37),rgb(72,72,72),rgb(37,37,37)) 30 30;
  .jdi-tab{
    display: inline-block;
    width:100px;
    margin-right:10px;
    text-align: center;
    padding:4px 5px;
    font-size: 16px;
    color: #9B9B9B;
  }
  .selected-jdi-tab{
     border: 1px solid white;
     border-radius: 8px;
  }
}
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  bgcolor:    rgb(33,33,33),
  yellow:     yellow
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$toolbar-md-title-text-color: map-get($colors, bgcolor);
$toolbar-md-background: map-get($colors, yellow);
a.tab-button{
  background: map-get($colors, bgcolor);
}
.tabs-ios a.tab-button{
  color:white;
}
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";
$toolbar-ios-title-text-color: map-get($colors, black);
$toolbar-ios-background: map-get($colors, yellow);
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
