page-weather {
  .day-temprerature{
    height: 100px;
    width:50px;
    background: blue;
    display: inline-block;
    margin-left:40px;
  }
  .city{
    display: inline-block;
    width:200px;
  }
  .city-drop-down{
    width:100%;
    max-width: 100%;
  }
 
}
