page-weather {
  .day-temprerature{
    height: 100px;
    width:50px;
    background: blue;
    display: inline-block;
    margin-left:40px;
  }
  .city{
    display: inline-block;
    float: right;
    width:180px;
    margin-left:20px;
  }
  .city-drop-down{
    width:100%;
    max-width: 100%;
  }
  .personinfo{
    display: inline-block;
    .pname{
      font-size: 15px;
    }
    .company{
      font-size: 17px;
    }
  }
  .jdi-tabs{
    margin:40px auto;
    .jdi-tab{
      display: inline-block;
      width:100px;
     
      margin-left:10px;
      text-align: center;
      padding:4px 5px;
    }
    .selected-jdi-tab{
       border: 1px solid white;
       border-radius: 8px;
    }
  }
}
