page-weather {
  
  .city{
    display: inline-block;
    float: right;
    width:180px;
    margin-left:20px;
  }
  .city-drop-down{
    width:100%;
    max-width: 100%;
  }
  .personinfo{
    display: inline-block;
    .pname{
      font-size: 15px;
    }
    .company{
      font-size: 17px;
    }
  }
  
}
