footer {
   #footer{
    position: fixed;
    bottom:0px;
    left: 0;
    right: 0;
    text-align: center;
    background: #212121;
    width: 100%;
    z-index: 23;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #footer div{
    width:150px;
    display: inline-block;
    padding:10px 20px;
    border:1px solid black;
    background: rgb(67,67,67);
    position: relative;
    border-radius: 6px;
  }
  .action-btn{
    margin-left:10px;
  }
  .left-label{
    display: inline-block;
    border-radius: 50%;
    width:20px;
    height: 20px;
    line-height: 20px;
    background: white;
    color:blue;
    position: absolute;
    left:-5px;
    top:-5px;
  }
  .right-label{
    display: inline-block;
    border-radius: 50%;
    width:20px;
    height: 20px;
    line-height: 20px;
    background: white;
    color:blue;
    position: absolute;
    right:-5px;
    top:-5px;
  }

}
